[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "external/espeak-ng"]
	path = external/espeak-ng
	url = https://github.com/espeak-ng/espeak-ng.git
